@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display);
}

.each-slideshow-indicator::before {
  background: white !important;
}

.rhap_main-controls-button,
.rhap_repeat-button,
.rhap_time
{
  color: white !important;
}

.rhap_volume-indicator {
  background: white !important;
}
